<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nový balík</title>
    </head>
    <body>
        <h1>Vaša požiadavka bola spracovaná</h1>
        <p>Balík je pripravený na expedíciu</p>
    </body>
</html>